
body 
{
        margin: 0 auto;
        background-color: #585858;
}

h1
{
    font-family: 'Luckiest Guy';
    font-size:48px;
    color: #459e00;
}

h2
{
    font-family: 'Luckiest Guy';
    font-size:32px;
    color: #459e00;
}

#txtCalendar,#txtCalendar2
{
    background-color: #459e00;
    border: 4px solid ##327E04;
    width:150px;
    height:50px; 
    text-align:center;
    color:#FFFFFF;
    font-family: Permanent Marker;
}

#center
{
    margin: 0 auto;
    margin-top:75px;
    text-align:center;
    width:100%;
}

.countdown
{
    margin-top:50px;
}

.label
{
    font-size:24px;
    color:Orange;
}

.output
{
    margin-left:20px;
    font-size:24px;
    font-family: 'Rock Salt';
    color: #459e00;
}